Hello World!
<div class="countdown-timer">

	<div class="days">
		<span><%= days %></soan>
		<label>Days</label>
	</div>

	<div class="hours">
		<span><%= hours %></soan>
		<label>Hours</label>
	</div>

	<div class="minutes">
		<span><%= minutes %></soan>
		<label>minutes</label>
	</div>

	<div class="seconds">
		<span><%= seconds %></soan>
		<label>seconds</label>
	</div>

</div>